@font-face {
  font-family: "Bhavuka";
  src: local("Bhavuka"), local("Bhavuka"),
    url("../fonts/Bhavuka.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
