@import "vars";
@import "fonts";
@import "reset";
@import "libs";

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  background-color: #ffffff;
}
::-webkit-scrollbar-track-piece {
  margin: 1px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #312e2c;
}

@media (max-width: 560px) {
  ::-webkit-scrollbar {
    width: 3px;
    height: 2px;
    background-color: #ffffff;
  }
}

.container_product {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 15px;
  &_catalog {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.max-container {
  max-width: $maxWidth;
  margin: 0 auto;
}

body {
  font-family: $fontFamili;
  color: $mainColor;
  font-size: 24px;
  line-height: 38px;
  @include adaptiv-value(font-size, 24, 16, 1);
  @include adaptiv-value(line-height, 38, 20, 1);
  letter-spacing: 0.05em;
}

.title {
  text-align: center;
  color: #332b25;
  font-family: "Bhavuka";
  font-size: 50px;
  line-height: 63px;
  @include adaptiv-value(font-size, 50, 28, 1);
  @include adaptiv-value(line-height, 63, 36, 1);
  letter-spacing: 0.2em;
  color: #332b25;
}

.market-box {
  &__item {
    position: relative;
    padding: 3px;
    transition: color 0.25s;
    a {
      position: relative;
      z-index: 10;
    }
    &::before,
    &::after {
      z-index: 5;
      box-sizing: inherit;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }
    &::before,
    &::after {
      border: 2px solid transparent;
      width: 0;
      height: 0;
    }
    &::before {
      top: 0;
      left: 0;
    }
    &::after {
      bottom: 0;
      right: 0;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $mainColor;
      }
      &:hover::before,
      &:hover::after {
        width: 100%;
        height: 100%;
      }
      &:hover::before {
        border-top-color: $mainColor; // Make borders visible
        border-right-color: $mainColor;
        transition: width 0.25s ease-out,
          // Width expands first
          height 0.25s ease-out 0.25s; // And then height
      }
      &:hover::after {
        border-bottom-color: $mainColor; // Make borders visible
        border-left-color: $mainColor;
        transition: border-color 0s ease-out 0.5s,
          // Wait for ::before to finish before showing border
          width 0.25s ease-out 0.5s,
          // And then exanding width
          height 0.25s ease-out 0.75s; // And finally height
      }
    }
  }
} // рамка вокруг карточки

.market-box {
  .product-item__img {
    //@include adaptiv-value(max-width, 400, 300, 1);
    transition: all 0.4s;
  }
  a {
    overflow: hidden;
  }
  @media (any-hover: hover) {
    &__item:hover {
      .product-item__img {
        transform: scale(1.1);
      }
    }
  }
} // анимация изображения

.market-box.market-box_catalog {
  .product-item {
    max-width: 280px;
  }
  .title-product {
    @include adaptiv-value(font-size, 24, 16, 1);
    @include adaptiv-value(line-height, 42, 30, 1);
    &:hover {
      @include adaptiv-value(font-size, 25, 17, 1);
    }
  }
  .product-item__lake {
    width: 25px;
    height: 25px;
  }
  .product-item__card {
    width: 25px;
    height: 25px;
    top: 65px;
  }
}

.market-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  &__item {
    @include adaptiv-value(max-width, 400, 300, 1);
    margin: 0 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  &__item a:first-child {
    margin-bottom: 25px;
  }
}
.product-item__lake {
  opacity: 0.81;
  position: absolute;
  z-index: 50;
  top: 30px;
  right: 20px;
  width: 35px;
  height: 35px;
  background-image: url(../images/icons/heart.svg);
  background-position: center;
  background-size: cover;
  transition: all 0.2s;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.4;
      background-image: url(../images/icons/heart-black.svg);
    }
    &_active {
      &:hover {
        opacity: 0.6;
      }
    }
  }
  &_active {
    background-image: url(../images/icons/heart-black.svg);
  }
}
.product-item__card {
  opacity: 0.81;
  position: absolute;
  z-index: 50;
  top: 80px;
  right: 20px;
  width: 35px;
  height: 35px;
  background-image: url(../images/icons/cart.svg);
  background-position: center;
  background-size: cover;
  transition: all 0.2s;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.4;
      background-image: url(../images/icons/cart-black.svg);
    }
    &_active {
      &:hover {
        opacity: 0.6;
      }
    }
  }
  &_active {
    background-image: url(../images/icons/cart-black.svg);
  }
}

// .product-item__card.product-item__card_active + .product-item__card-second {
//   opacity: 0.81;
// }
// .product-item__card-second {
//   opacity: 0;
//   position: absolute;
//   z-index: 50;
//   top: 110px;
//   right: 20px;
//   width: 35px;
//   height: 35px;
//   background-image: url(../images/icons/cart-black.svg);
//   background-position: center;
//   background-size: cover;
//   transition: all 0.2s;
// }

.product-item__card-second {
  display: none;
  opacity: 1;
  position: fixed;
  z-index: 50;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 35px;
  background-image: url(../images/icons/cart-black.svg);
  background-position: center;
  background-size: cover;
  transition: all 0.2s;
}

.cardSecond {
  display: none;
  opacity: 0;
  visibility: inherit;
  position: fixed;
  z-index: 50;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 35px;
  background-image: url(../images/icons/cart-black.svg);
  background-position: center;
  background-size: cover;
  transition: all 0.6s;
}

.cardSecond_active {
  display: block;
  opacity: 0.81;
  visibility: visible;
}

.title-product {
  max-width: 400px;
  position: relative;
  font-family: "Abel";
  text-transform: uppercase;
  @include adaptiv-value(font-size, 32, 22, 1);
  @include adaptiv-value(line-height, 46, 32, 1);
  letter-spacing: 0.05em;
  text-align: center;
  color: #332b25;
  transition: all 0.3s;
  &:hover {
    color: #1b1510;
    @include adaptiv-value(font-size, 34, 24, 1);
  }
}
.title-product_underlain::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eeb960;
}

.price {
  font-family: "Anaheim";
  @include adaptiv-value(font-size, 30, 20, 1);
  @include adaptiv-value(line-height, 46, 32, 1);
  letter-spacing: 0.05em;
  text-align: center;
  color: #46362bcc;
}
.price::before {
  content: "$";
}

// *JS стили* ====
._none {
  display: none !important;
}
._hedenMap {
  position: absolute;
  height: 0 !important;
  left: 0;
  bottom: 200px;
  z-index: -1;
}
// ====

// swiper ===
.swiper {
}
.mySwiper2 .swiper-slide {
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
}
.swiper-wrapper {
}
@media (max-width: 567px) {
  .mySwiper2 .swiper-slide {
    height: 515px;
    padding-bottom: 30px;
  }
}
.mySwiper .swiper-slide {
  width: 80px;
  height: 80px !important;
  min-width: 80px;
}

.mySwiper .swiper-slide img {
  width: 80px;
  height: 80px !important;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.7;
}

.mySwiper .swiper-slide-thumb-active img {
  border: 2px solid $mainColor;
  opacity: 1 !important;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 0;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 10;
  transform: translate(-13px, -50%);
  box-shadow: 0px 5px 10px #000;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%) rotate(180deg);
  }
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 0;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 10;
  transform: translate(13px, -50%);
  box-shadow: 0px 5px 10px #000;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
  }
}
.mySwiper {
  min-width: 100px;
}
// swiper ===

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.scale-l {
  transform: scale(0.8);
}

// stars ===
.five-stars {
  svg {
    path {
      fill: gold;
    }
  }
}
.four-stars {
  svg:not(:last-child) {
    path {
      fill: gold;
    }
  }
}
.three-stars {
  svg:nth-child(1) {
    path {
      fill: gold;
    }
  }
  svg:nth-child(2) {
    path {
      fill: gold;
    }
  }
  svg:nth-child(3) {
    path {
      fill: gold;
    }
  }
}
.two-stars {
  svg:nth-child(1) {
    path {
      fill: gold;
    }
  }
  svg:nth-child(2) {
    path {
      fill: gold;
    }
  }
}
.one-stars {
  svg:nth-child(1) {
    path {
      fill: gold;
    }
  }
}
// stars ===
